html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: x-large;
    background-image: linear-gradient(to bottom right, lightskyblue, white);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.profil-container {
    height: 100%;
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*margin-top: 10px;*/
    align-items: center;
}

.tab-container {
    border: 1px solid black;
    background-color: lightblue;
    height: 50%;
    width: 50%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: minmax(40%,auto);
}

    .tab-container > * {
        text-align: center;
        background-color: white;
        /*border: 1px solid black;*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size:x-large;
    }

div:nth-child(1) {
    grid-column: span 1;
}

.picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

    .picture > img {
        width: inherit;
        padding: 10px;
    }

div:nth-child(2) {
    grid-column: span 2;
}

div:nth-child(3) {
    grid-column: span 3;
}

p {
    margin-top: 1px;
    line-height: 0.5;
}

    p:first-child {
        font-weight: bold;
    }

input[type=submit] {
    height: 80%;
    font-family: Arial;
    font-size: x-large;
    margin: 30px;
}
